<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.something.myapplication">

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/students"
        android:label="@string/app_name"
        android:roundIcon="@drawable/students"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.displayactivity.displayActivity"
            android:parentActivityName=".activity.homeactivity.MainActivity"></activity>
        <activity
            android:name=".activity.splashactivity.SplashActivity"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.homeactivity.MainActivity"></activity>

        <receiver
            android:name=".activity.Network.NetworkChangeListener"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>